
<div data-ng-controller="sitesCtrl" data-ng-show="auth.loggedInUser">
    <div data-ng-show="error" class="alert alert-error">{{error}}</div>
    <div data-ng-show="info" class="alert alert-success">{{info}}</div>

    <ul>
        <li data-ng-repeat="site in sites">
            <a href="#/site/{{site._id}}">
                Edit {{site.name}}
            </a>
            (go to <a href="{{site.url}}">{{site.name}}</a> or <a data-ng-click="removeSite(site)">remove it</a> )
        </li>
    </ul>
    <a class="btn" href="#/createSite">Create site</a>
</div>