<div data-ng-show="debug">partials/dashboard.html</div>
<div data-ng-show="auth.loggedInUser.name">
    <h1><i class="icon-home icon-large"></i> Hello {{auth.loggedInUser.displayname}}!</h1>

    <h2>Your customized sites:</h2>
    <div data-ng-include="'partials/lists/customizedsitelist.html'"></div>
    <a class="btn" href="#/customSite"><i class="icon-plus"></i> Customize a site</a>

    <hr/>

    <h2>You are admin of the following sites in the symbolmanager:</h2>
    <div data-ng-include="'partials/lists/sitelist.html'"></div>
    <a class="btn" href="#/createSite"><i class="icon-plus"></i> Create site</a>

</div>

<div data-ng-hide="auth.loggedInUser.name" data-ng-include="'partials/info.html'"></div>