<form data-ng-submit="register(user)">
    <div data-ng-show="error" class="alert alert-error">{{error}}</div>
    <div data-ng-show="info" class="alert alert-success">{{info}}</div>
    <table>
        <tr>
            <td>Display name:</td>
            <td><input type="text" data-ng-model="user.displayname" name="displayName"/></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" data-ng-model="user.name" name="name"/></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="email" data-ng-model="user.email" name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" data-ng-model="user.password" name="password"/></td>
        </tr>
        <tr>
            <td>Repeat password:</td>
            <td><input type="password" data-ng-model="user.repeatPassword"/></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="Register"/>
</form>