<form data-ng-submit="saveSite(site)">
    <table>
        <tr>
            <td>Site name:</td>
            <td><input type="text" data-ng-model="site.name"/></td>
        </tr>
        <tr>
            <td>Site address:</td>
            <td><input type="text" data-ng-model="site.url"/></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">
        <span data-ng-show="site._id"><i class="icon-save"></i> Save</span>
        <span data-ng-hide="site._id"><i class="icon-plus"></i> Create</span>
    </button>
</form>