<div data-ng-show="debug">partials/symbolform.html</div>
<div class="symbolform">
    <h1 class="row span12">
        <i class="icon-picture icon-large"></i>
        <span data-ng-hide="symbol._id">Create new symbol in <a href="#/site/{{site._id}}">{{site.name}}</a></span>
        <span data-ng-show="symbol._id">Edit {{symbol.name}} in <a href="#/site/{{site._id}}">{{site.name}}</a></span>
    </h1>
    <form class="row span6" data-ng-submit="saveSymbol(symbol)">
        <table>
            <tr>
                <td>Symbol name:</td>
                <td><input type="text" data-ng-model="symbol.name"/></td>
            </tr>
            <tr>
                <td>Symbol description:</td>
                <td><input type="text" data-ng-model="symbol.description"/></td>
            </tr>
            <tr>
                <td>Symbol upload:</td>
                <td>
                    <div data-ng-show="symbol.file">
                        Uploaded: {{symbol.file}} ({{symbol._attachments[symbol.file].length}} bytes)
                        <img data-ng-src="{{symbol.fileUri || fileUri(db, symbol, symbol.file)}}"/>
                        <button class="btn btn-mini btn-danger" data-ng-click="detachFile()" data-ng-show="symbol.file" type="button">
                            <i class="icon-trash"></i>
                        </button>

                    </div>
                    <span data-ng-hide="symbol.file"><input type="file" accept="image/*" image="file1"/></span>
                    <img ng-show="file1" ng-src="{{file1.url}}" type="{{file1.file.type}}" />
                </td>
            </tr>
        </table>
        <div class="actions">
            <button type="submit" class="btn btn-primary">
                <span data-ng-show="symbol._id"><i class="icon-save"></i> Save</span>
                <span data-ng-hide="symbol._id"><i class="icon-plus"></i> Create</span>
            </button>
            <button class="btn btn-danger" type="button" data-ng-show="symbol._id" data-ng-click="delete(symbol)">
                <i class="icon-trash"></i> Delete
            </button>
        </div>
    </form>

    <div class="row span12" data-ng-show="site">
        <h2 data-ng-show="'site.symbols.length'">Symbols:</h2>
        <div data-ng-include="'partials/symbollist.html'"></div>
    </div>
</div>
