<h1>Create new symbol in {{site.name}}</h1>
<form data-ng-submit="saveSymbol(symbol)">
    <div data-ng-show="error" class="alert alert-error">{{error}}</div>
    <div data-ng-show="info" class="alert alert-success">{{info}}</div>
    <table>
        <tr>
            <td>Symbol name:</td>
            <td><input type="text" data-ng-model="symbol.name"/></td>
        </tr>
        <tr>
            <td>Symbol description:</td>
            <td><input type="text" data-ng-model="symbol.description"/></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">
        <span data-ng-show="site._id"><i class="icon-save"></i> Save</span>
        <span data-ng-hide="site._id"><i class="icon-plus"></i> Create</span>
    </button>
</form>