<!doctype html>
<html xmlns:ng="http://angularjs.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="components/components-bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css"/>
</head>
<body ng-app="symbolmanagerApp" data-ng-controller="mainCtrl">
<div class="container row">

    <header class="span12">
        <div class="logo"><a href="#"><img src="img/capkom_logo.gif" style="width: 40%;" /> </a></div>
        <div class="user">
            <div data-ng-show="auth.loggedInUser.name">
                Welcome, <img data-gravatar-src="auth.loggedInUser.email" gravatar-size="26" /> {{auth.loggedInUser.displayname}}!
                <span data-ng-click="auth.logout()">Logout</span>
            </div>
            <div data-ng-hide="auth.loggedInUser.name">
                <button type="button" class="btn" bs-popover="'partials/forms/loginform.html'" data-ng-controller="loginCtrl" data-placement="bottom">Login</button>
                <a class="btn" href="#/register" data-ng-click="hide()">Register</a>
            </div>
        </div>
    </header>
    <!--<ul class="menu row span12">-->
        <!--<li><a href="#/view1">view1</a></li>-->
        <!--<li><a href="#/view2">view2</a></li>-->
    <!--</ul>-->

    <div class="row span12" data-ng-include="'partials/statusmessages.html'"></div>

    <div class="row span12" ng-view></div>


    <footer class="row span12">
        <hr/>
        <p>Capkom-Symbolmanager app: v<span app-version></span></p>
    </footer>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="components/jquery/jquery.min.js"></script>
<script src="components/underscore/underscore-min.js"></script>
<script src="components/components-bootstrap/js/bootstrap.js"></script>

<script src="components/angular/angular.js"></script>
<script src="components/angularjs-imageupload-directive/public/javascripts/imageupload.js"></script>
<script src="lib/CornerCouch/angular-cornercouch.js"></script>
<script src="components/angular-strap/dist/angular-strap.js"></script>
<script src="components/angular-gravatar/src/md5.js"></script>
<script src="components/angular-gravatar/build/angular-gravatar.js"></script>

<script src="js/app.js"></script>
<script src="js/backend.js"></script>
<script src="js/users.js"></script>
<script src="js/sites.js"></script>
<script src="js/customsite.js"></script>
<script src="js/symbols.js"></script>
<script src="js/utils.js"></script>
</body>
</html>
